= form_for @user do |f|

  = f.error_messages

  .box
    .island
      .formGroup
        = f.label :email_address, "E-Mail Address", :class => "formLabel formLabel--blocked"
        = f.text_field :email_address, :autofocus => true, :class => "formControl"
    .formFooter
      .formFooter__inner
        = f.submit "Send Invite", :class => "button button--positive formFooter__button", :data => {:disable_with => "Creating&hellip;".html_safe}
        %p.formFooter__subText
          or
          = link_to "back to list", users_path, :class => "formFooter__subTextLink"
