- @page_title = "New Certificate"

.pageHeader
  %h1.heading.pageHeader__title
    New Certificate

= form_for @cert do |f|

  = f.error_messages

  .box
    .boxItem.island
      .formGroup
        = f.label :certificate_authority_id, "Certificate Authority", :class => "formLabel formLabel--blocked"
        = f.collection_select :certificate_authority_id, CertificateAuthority.order(:common_name), :id, :common_name, {}, :class => "formControl formControl--select"
      .formGroup
        = f.label :country, "Country", :class => "formLabel formLabel--blocked"
        = f.text_field :country, :autofocus => true, :class => "formControl", :placeholder => Guardian.config.certificate_defaults.country
      .formGroup.formRow
        .formRow__column
          = f.label :state, "State", :class => "formLabel formLabel--blocked"
          = f.text_field :state, :class => "formControl", :placeholder => Guardian.config.certificate_defaults.state
        .formRow__column
          = f.label :locality, "Locality", :class => "formLabel formLabel--blocked"
          = f.text_field :locality, :class => "formControl", :placeholder => Guardian.config.certificate_defaults.locality
      .formGroup.formRow
        .formRow__column
          = f.label :organization, "Organization", :class => "formLabel formLabel--blocked"
          = f.text_field :organization, :class => "formControl", :placeholder => Guardian.config.certificate_defaults.organization
        .formRow__column
          = f.label :organizational_unit, "Organizational Unit", :class => "formLabel formLabel--blocked"
          = f.text_field :organizational_unit, :class => "formControl"
      .formGroup
        = f.label :common_name, "Common Name", :class => "formLabel formLabel--blocked"
        = f.text_field :common_name, :class => "formControl"
      .formGroup
        = f.label :expires_at, "Expires At", :class => "formLabel formLabel--blocked"
        .selectGroup
          = f.datetime_select :expires_at, {:end_year => Date.today.year + 25, :order => [:day, :month, :year], :start_year => Date.today.year}, :class => "formControl formControl--select selectGroup__item"
    .island.keyInfo
      = image_tag "key.svg", :class => "keyInfo__icon"
      %p.keyInfo__text
        A private key will be generated and displayed on the next page. This key is not stored on the server so you must make a note of it otherwise you won't be able to use this certificate.
    .formFooter
      .formFooter__inner
        = f.submit "Create", :class => "button button--positive formFooter__button", :data => {:disable_with => "Creating&hellip;".html_safe}
        - if @cert.certificate_authority
          %p.formFooter__subText
            or
            = link_to "back to list of certificates", certificates_path(:ca => @cert.certificate_authority), :class => "formFooter__subTextLink"
