- @page_title = "Certificate - #{@cert.common_name}"

.pageHeader
  %h1.heading.pageHeader__title
    = @cert.common_name

.box.module
  %dl.certDetails
    %dt.certDetails__term
      Country
    %dd.certDetails__desc
      = @cert.country
    - if @cert.state
      %dt.certDetails__term
        State
      %dd.certDetails__desc
        = @cert.state
    - if @cert.locality
      %dt.certDetails__term
        Locality
      %dd.certDetails__desc
        = @cert.locality
    - if @cert.organization
      %dt.certDetails__term
        Organization
      %dd.certDetails__desc
        = @cert.organization
        - if @cert.organizational_unit
          (#{@cert.organizational_unit})

- if flash[:private_key]
  .box.module.privateKey
    .boxHeader
      %h2.heading
        Private Key
    %pre.island~ flash[:private_key]

.box.module
  .boxHeader
    %h2.heading
      Certificate
  %pre.island~ @cert.certificate.to_s

- if @cert.csr
  .box.module
    .boxHeader
      %h2.heading
        CSR
    %pre.island~ @cert.csr

%p.goBack
  = link_to "&larr; Go back to list of certificates".html_safe, certificates_path(:ca => @cert.certificate_authority), :class => "goBack__link"
