!!!
%html
  %head
    %title #{@page_title} - Guardian
    %meta{:charset => "utf-8"}
    %meta{:name => "turbolinks-cache-control", :content => "no-cache"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", "data-turbolinks-track" => "reload"
    = javascript_include_tag "application", "data-turbolinks-track" => "reload"
  %body{:class => ("loginPage" if is_login_page?)}
    - if is_login_page?
      = yield
    - else
      .siteHeader
        .container.siteHeader__container
          %h1.heading.heading--large.siteHeader__title
            = link_to "Guardian", root_path
          %ul.siteHeader__actions
            %li.siteHeader__action
              = link_to "Certificates", root_path, :class => "siteHeader__link siteHeader__link--certificates"
            %li.siteHeader__action
              = link_to "Users", users_path, :class => "siteHeader__link siteHeader__link--users"
            %li.siteHeader__action
              = link_to "Logout", logout_path, :class => "siteHeader__link siteHeader__link--logout", :method => :delete
      .container.container__main
        = display_flash
        = yield
